{% load static %}
<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">

    <a class="navbar-brand" href="{% url 'index' %}">BDSP Network</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse navbar-nav" id="navbarNav">
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <div class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </div>
        {% endif %}
      </div>

      <div class="navbar-nav ml-auto">
        <form class="form-inline ml-auto" method="post" action="/search">
          {% csrf_token %}
          <div class="form-group no-border">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="orgInfo"
              required maxlength="10" />
            <button class="btn btn-white btn-just-icon btn-round" type="submit">
              <i class="material-icons">search</i>
            </button>

          </div>
        </form>
        {% if user.is_authenticated %}

        <div class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">logout</a>
        </div>
        {% else %}

        <div class="nav-item">
          <a class="nav-link ml-auto" href="{% url 'login' %}">login</a>
        </div>
        {% endif %}

      </div>

    </div>
  </div>

</nav>
