html {
  font-family: sans-serif;
}

form {
  width: 600px;
  margin: 30px auto;
}

div {
  margin-bottom: 10px;
}

fieldset {
  border: 3px solid #5f5f63;
  margin-bottom: 20px;
  max-width: 100vw;
}

legend {
  background: #bce2e2;
  color: #0e1313;
  width: auto;
  padding: 5px;
}

.search_category{

}
