{% extends 'base.html' %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">MIDI</h1>
    <p class="lead">MIDI provides service for metal industory enterprises to development theier business and build firm technical bases.</p>
    <p class="lead">Industory Tag <a class="btn btn-primary" href="#" role="button">Metal</a></p>
    <p class="lead">Service Tag <a class="btn btn-success" href="#" role="button">Training</a></p>

  </div>
</div>


<h1 class="display-4">Services</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Detail</th>
      <th scope="col">Contact</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Products and raw material test in laboratory </td>
      <td>We have a trainign at MIDI or a technical person visits your company. The module is, 1. preparation 2. maintenace schedule 3. maintenance tools </td>
      <td><p class="font-weight-bold">Ms.Fikerte</p><span class="email">atnafufikerte@yahoo.com</span></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Technical support on production technique and production facility utilization</td>
      <td>technical training on production technique for enterprises, in their training facilities equipped with production facilities. </td>
      <td><p class="font-weight-bold">Ms.Fikerte</p><span class="email">atnafufikerte@yahoo.com</span></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Technical support for new product development</td>
      <td>The module is, 1. Research Method 2. production concept 3. Production development </td>
      <td><p class="font-weight-bold">Ms.Fikerte</p><span class="email">atnafufikerte@yahoo.com</span></td>
    </tr>
  </tbody>
</table>


{% endblock %}
