{% extends 'base.html' %}
{% block style %}
{% load static %}
{% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid bg-gr-blue shadow p-3 mb-5 bg-white">
  <div class="container text-white">
    <h1 class="display-3">{{ org.Name }}</h1>
    <h3 class="lead">{{ org.Region }}, {{ org.Address }}</h3>
  </div>
</div>


<form class="" action="" method="post">{% csrf_token %}

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="Name">Name</label>
    <div class="col-sm-10">
      <input type="text" id="Name" name="Name" value="{{ org.Name }}" class="form-control">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="Address">Address</label>     
    <div class="col-sm-10">
      <input type="text" id="Address" name="Address" value="{{ org.Address }}" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <legend class="col-form-label col-sm-2 pt-0">Ragion</legend>
    <div class="col-sm-10">
      <select name = "changeregion" class="custom-select">
        <option selected>{{ currentregion }}</option>            
        {% for region in otherregions %}
        <option value="{{ region }}">{{ region }}</option>
        {% endfor %}
      </select>
    </div>
  </div>


  <div class="form-group row">
    <legend class="col-form-label col-sm-2 pt-0">Industries</legend>
    <div class="col-sm-10">
      <div class="form-check">
  
        {% for industry in industries %}
          {% if industry.Name in currentindustry %}
            <div class="custom-control custom-checkbox custom-control-inline" >
              <input type="checkbox" class="custom-control-input" id="{{ industry }}" name="changeindustry" value="{{ industry }}" checked>
              <label class="custom-control-label" for="{{ industry }}">{{ industry }} &nbsp;</label>
            </div>
          {% else %}
            <div class="custom-control custom-checkbox custom-control-inline" >
              <input type="checkbox" class="custom-control-input" id="{{ industry }}" name="changeindustry" value="{{ industry }}">
              <label class="custom-control-label" for="{{ industry }}">{{ industry }} &nbsp;</label>
            </div>
          {% endif %}
        {% endfor %}      
          
      </div>
    </div>
  </div>

  <div class="form-group row">
    <legend class="col-form-label col-sm-2 pt-0">Services</legend>
    <div class="col-sm-10">
      <div class="form-check">

        {% for service in services %}
          {% if service.Name in checked_services %}
            <div class="custom-control custom-checkbox custom-control-inline" >
              <input type="checkbox" class="custom-control-input" id="{{ service }}" name="Service" value="{{ service }}" checked>
              <label class="custom-control-label" for="{{ service }}">{{ service }} &nbsp;</label>
            </div>
          {% else %}
            <div class="custom-control custom-checkbox custom-control-inline" >
              <input type="checkbox" class="custom-control-input" id="{{ service }}" name="Service" value="{{ service }}">
              <label class="custom-control-label" for="{{ service }}">{{ service }} &nbsp;</label>
            </div>
          {% endif %}
        {% endfor %}      

      </div>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="PR">PR</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="PR" id="PR" rows="5">{{ org.PR }}</textarea>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="Affiliation">Affiliation</label>
    <div class="col-sm-10">
      <input type="text" id="Affiliation" name="Affiliation" value="{{ org.Affiliation }}" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="RegistrationDate">Registration Date</label>
    <div class="col-sm-10">
      <input type="date" id="RegistrationDate" name="RegistrationDate" value="{{ org.RegistrationDate|date:'Y-m-d' }}" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="URL">URL</label>
    <div class="col-sm-10">
      <input type="text" id="URL" name="URL" value="{{ org.Url }}" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="ContactPerson">ContactPerson</label>
    <div class="col-sm-10">
      <input type="text" id="ContactPerson" name="ContactPerson" value="{{ org.ContactPerson }}" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="Email">Email</label>
    <div class="col-sm-10">
      <input type="email" id="Email" name="Email" value="{{ org.Email }}" class="form-control">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="Telephone">Telephone</label>
    <div class="col-sm-10">
      <input type="tel" id="Telephone" name="Telephone" value="{{ org.Telephone }}" class="form-control">
    </div>
  </div>
  
  <!-- button -->
  <div class="text-center mt-5">
      <input type="submit" name="" value="Submit" class="mb-5 mx-auto btn btn-lg btn-outline-primary">
  </div>

</form>

{% endblock %}