{% extends 'base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'details.css' %}" type="text/css" />
{% endblock %}
{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>{{ org.Name }}</h1>
    <p class="lead">{{ org.Region }}, {{ org.Address }}</p>
  </div>
</div>
<h1>Edit Profile</h1>

<main>
<section>

<form class="" action="" method="post">
{% csrf_token %}
<table>

  <tr>
    <td><label for="Name">Name</label></td>
    <td><input type="text" id="Name" name="Name" value="{{ org.Name }}" class="tableright"></td>
  </tr>

  <tr>
    <td><label for="Adress">Adress</label></td>
    <td><input type="text" id="Adress" name="Address" value="{{ org.Address }}" class="tableright"></td>
  </tr>

  <tr>
    <td>Region</td>
    <td>
        <select name = "changeregion" class="tableright">
          <option>{{ currentregion }}</option>
          {% for region in otherregions %}
          <option>{{ region }}</option>
          {% endfor %}
        </select>
    </td>
  </tr>

  <tr>
    <td><label for="PR">PR</label></td>
    <td><input type="text" id="PR" name="PR" value="{{ org.PR }}" class="tableright"></td>
  </tr>

  <tr>
  <td>Industory Tag</td>
  <td>
      <select name = "changeindustry" class="tableright">
        <option>{{ currentindustry }}</option>
        {% for industry in otherindustries %}
        <option>{{ industry }}</option>
        {% endfor %}
      </select>
  </td>
  </tr>

  <tr>
    <td>Services</td>
    <td class="tableright">
      {% for service in checked %}
      <input type="checkbox" id="{{ service }}" name="Services" value="{{ service }}" checked>
      <label for="{{ service }}">{{ service }}</label>
      {% endfor %}
      {% for service in unchecked %}
      <input type="checkbox" id="{{ service }}" name="Services" value="{{ service }}">
      <label for="{{ service }}">{{ service }}</label>
      {% endfor %}
    </td>
  </tr>

  <tr>
    <td><label for="PR">PR</label></td>
    <td><input type="text" id="PR" name="PR" value="{{ org.PR }}" class="tableright"></td>
  </tr>

  <tr>
    <td><label for="Affiliation">Affiliation</label></td>
    <td><input type="text" id="Affiliation" name="Affiliation" value="{{ org.Affiliation }}" class="tableright"></td>
  </tr>

  <tr>
    <td><label for="RegistrationDate">Registration Date<br>(YYYY-MM-DD)</label></td>
    <td><input type="dat" id="RegistrationDate" name="RegistrationDate" value="{{ org.RegistrationDate|date:"Y-m-d" }}" class="tableright"></td>
  </tr>

  <tr>
    <td><label for="URL">URL</label></td>
    <td><input type="text" id="URL" name="URL" value="{{ org.Url }}" class="tableright"></td>
  </tr>

  <tr>
    <td><label for="ContactPerson">ContactPerson</label></td>
    <td><input type="tel" id="ContactPerson" name="ContactPerson" value="{{ org.ContactPerson }}" class="tableright"></td>
  </tr>

  <tr>
    <td><label for="Email">Email</label></td>
    <td><input type="email" id="Email" name="Email" value="{{ org.Email }}" class="tableright"></td>
  </tr>

  <tr>
    <td><label for="Telephone">Telephone</label></td>
    <td><input type="tel" id="Telephone" name="Telephone" value="{{ org.Telephone }}" class="tableright"></td>
  </tr>
</table>

  <input type="submit" value="Submit" class="btn">
</form>

</section>
</main>


{% endblock %}
