{% extends 'base.html' %}
{% block style %}
{% load static %}
<style media="screen">
  .main-raised,
  footer {
    position: relative;
    top: 25vh;
  }
</style>
{% endblock %}

{% block content %}

<div class="main main-raised">
  <div class="section">
    <div class="container">

      <form method="post" id="main_form">
        {% csrf_token %}

        {% if form.errors %}
        <ul>
          {% for error in form.errors %}
          <li>Error in:{{ error }} </li>
          {% endfor %}
        </ul>
        {% endif %}

        <div class="form-row">
          <!-- Experience Year -->
          <div class="form-group bmd-form-group col">
            <label class="bmd-label-floating">{{ form.Year.label }}</label>
            {{ form.Year }}
          </div>
          
          <!-- Experience Large -->
          <div class="form-group bmd-form-group col">
            <label class="bmd-label-floating">{{ form.Large.label }}</label>
            {{ form.Large }}
          </div>

          <!-- Experience Medium -->
          <div class="form-group bmd-form-group col">
            <label class="bmd-label-floating">{{ form.Medium.label }}</label>
            {{ form.Medium }}
          </div>

          <!-- Experience small and micro -->
          <div class="form-group bmd-form-group col">
            <label class="bmd-label-floating">{{ form.SmallandMicro.label }}</label>
            {{ form.SmallandMicro }}
          </div>
        </div>

        <!-- button -->
        <div class="text-center mt-5">
          <input type="submit" name="" value="Submit" class="mb-5 mx-auto btn btn-outline-primary">
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script>
  $('select').addClass("form-control");
</script>
{% endblock %}