{% extends 'base.html' %}
{% block style %}
{% load static %}
<style media="screen">
  #main_form,
  footer {
    position: relative;
    top: 15vh;
  }
  ul {
    list-style-type: none;
    display: inline-flex;
    padding-left: 0px;
    margin-bottom: 0px;
  }
  li{
    padding:4px;
  }
  #region_data{
    padding-left: 0px;
  }

</style>
{% endblock %}

{% block content %}
<form action="" method="post" id="main_form">
    {% csrf_token %}
    {% if form.errors %}
    <ul>
      {% for error in form.errors %}
      <li>Error in:{{ error }} </li>
      {% endfor %}
    </ul>
    {% endif %}

    <table class="table table-hover mt-5">
      <tr>
        <th><label class="col-sm-2 col-form-label">{{ form.OrgName.label_tag }}</label></th>
        <td>
          <div class="col-sm-10">
          {{ form.OrgName }}
          </div>
        </td>
      </tr>

      <tr>
        <th><label class="col-sm-2 col-form-label">{{ form.Large.label_tag }}</label></th>
        <td>
          <div class="col-sm-10">
          {{ form.Large }}
          </div>
        </td>
      </tr>

      <tr>
          <th><label class="col-sm-2 col-form-label">{{ form.Medium.label_tag }}</label></th>
          <td>
            <div class="col-sm-10">
            {{ form.Medium }}
            </div>
          </td>
      </tr>
      <tr>
        <th><label class="col-sm-2 col-form-label">{{ form.SmallandMicro.label_tag }}</label></th>
        <td>
          <div class="col-sm-10">
          {{ form.SmallandMicro }}
          </div>
        </td>
      </tr>
    </table>

    <!-- button -->
    <div class="text-center mt-5">
        <input type="submit" name="" value="Submit" class="mb-5 mx-auto btn btn-lg btn-outline-primary">
    </div>
</form>
{% endblock %}
{% block script %}
<script>
  $("input, select").addClass("form-control");
</script>
{% endblock %}
