{% extends 'base.html' %}
{% block style %}
{% load static %}
<style>
  .form-check{
    line-height: 3.2;
  }
</style>
{% endblock %}

{% block header %}
<div class="page-header header-filter purple-filter" data-parallax="true"
  style="background-image: url('{% static 'img/bdsp.jpg' %}'); transform: translate3d(0px, 0px, 0px);">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto">
        <div class="brand text-center">
          <h1>BDSP Directory</h1>
          <h3 class="title text-center">Find your supporter</h3>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block content %}
<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">

      <!-- Region -->
      <form class="" action="{% url 'list' %}" method="post">{% csrf_token %}
        <div class="row">
          <div class="col-sm-2 my-auto">
            <h3 class="mt-0 mb-3 text-center">
              <small>Region</small>
            </h3>
          </div>
          <div class="col-sm-10 my-auto">
            <div class="form-check">
              {% for region in regions %}
              <div class="form-check form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="{{ region }}" name="region" value="{{ region }}">
                  {{ region }}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Industry -->
        {% if user.is_authenticated %}
        <div class="row mt-5">
          <a class="mr-2 ml-auto btn btn-primary btn-just-icon btn-round" href="{% url 'options_industry' %}">
            <i class="material-icons">edit</i>
          </a>
        </div>
        <div class="row">

        {% else %}
        <div class="row mt-5">

        {% endif %}
          <div class="col-sm-2 my-auto">
            <h3 class="mt-0 mb-3 text-center">
              <small>Industry</small>
            </h3>
          </div>
          <div class="col-sm-10 my-auto">
            <div class="form-check">
              {% for industry in industries %}
              <div class="form-check  form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="{{ industry }}" name="industry"
                    value="{{ industry }}">
                  {{ industry }}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Service -->
        {% if user.is_authenticated %}
        <div class="row mt-5">
          <a class="mr-2 ml-auto btn btn-primary btn-just-icon btn-round" href="{% url 'options_serviceCategory' %}">
            <i class="material-icons">edit</i>
          </a>
        </div>
        <div class="row">

        {% else %}
        <div class="row mt-5">

        {% endif %}
          <div class="col-sm-2 my-auto">
            <h3 class="mt-0 mb-3 text-center">
              <small>Service</small>
            </h3>
          </div>
          <div class="col-sm-10 my-auto">
            <div class="form-check">
              {% for service in services %}
              <div class="form-check  form-check-inline">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" id="{{ service }}" name="service"
                    value="{{ service }}">
                  {{ service }}
                  <span class="form-check-sign">
                    <span class="check"></span>
                  </span>
                </label>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- All -->
        <div class="form-group row text-center">
          <div class="col">
            <div class="form-check  form-check-inline ">
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="checkAll" name="checkAll" value="checkAll">
                Select All
                <span class="form-check-sign">
                  <span class="check"></span>
                </span>
              </label>
            </div>
          </div>
        </div>

        <!-- button -->
        <div class="text-center mt-5">
          <input type="submit" name="" value="Search" class="mx-auto btn btn-primary btn-round">
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  $("#checkAll").change(function () {
    $("input:checkbox").prop("checked", $(this).prop("checked"))
  })
</script>
{% endblock %}
