{% extends 'base.html' %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'search.css' %}" type="text/css" />
{% endblock %}

{% block content %}
<form class="" action="" method="post">
  <fieldset>
  <legend>Region</legend>
  <div class="search_category">
  <input type="checkbox" id="Adis Ababa" name="region" value="Adis Ababa">
  <label for="Adis Ababa">Adis Ababa</label>
  <input type="checkbox" id="Melbourne" name="region" value="Melbourne">
  <label for="Melbourne">Melbourne</label>
  </div>
  </fieldset>

  <fieldset>
  <legend>industry</legend>
  <div class="search_category">
  <input type="checkbox" id="Adis Ababa" name="region" value="Adis Ababa">
  <label for="Adis Ababa">Adis Ababa</label>
  <input type="checkbox" id="Melbourne" name="region" value="Melbourne">
  <label for="Melbourne">Melbourne</label>
  </div>
  </fieldset>

  <fieldset>
  <legend>Service</legend>
  <div class="search_category">
  <input type="checkbox" id="Adis Ababa" name="region" value="Adis Ababa">
  <label for="Adis Ababa">Adis Ababa</label>
  <input type="checkbox" id="Melbourne" name="region" value="Melbourne">
  <label for="Melbourne">Melbourne</label>
  </div>
  </fieldset>
  <input type="submit" name="" value="Submit">
</form>


{% endblock %}
