{% extends 'base.html' %}
{% block style %}
{% load static %}
<style media="screen">
#list_main{
  min-height:80vh;
}
</style>
{% endblock %}

{% block content %}
<div class="table-responsive mt-5" id="list_main">
<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">Region</th>
      <th scope="col">Industry</th>
      <th scope="col">ServiceCategory</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for query in query_result %}
      <tr>
        <td>{{ query.Region }}</td>
        <td>
          {% for industry in query.Industry.all %}
          <span class="badge badge-pill badge-danger">{{ industry.Name }}</span>
          {% endfor %}
        </td>
        <td>
          {% for service in query.ServiceCategory.all %}
            <span class="badge badge-pill badge-primary">{{ service.Name }}</span>

          {% endfor %}
        </td>
        <td>
          <a href="{% url 'details' query.id %}">
            {{ query.Name }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
