{% extends 'base.html' %}
{% block style %}
{% load static %}
{% endblock %}

{% block content %}
<div class="table-responsive">
<table class="table table-hover mt-5">
  <thead>
    <tr>
      <th scope="col">Region</th>
      <th scope="col">Industry</th>
      <th scope="col">ServiceCategory</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for query in query_result %}
      <tr>
        <td>{{ query.Region }}</td>
        <td>
          {% for industry in query.Industry.all %}
          {{ industry.Name }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for service in query.ServiceCategory.all %}
            <span class="text-muted">{{ service.Name }}{% if not forloop.last %}, {% endif %} </span>
            <!-- <p class="text-muted"></p> -->
          {% endfor %}
        </td>
        <td>
          <a href="{% url 'details' query.id %}">
            {{ query.Name }}
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
