{% extends 'base.html' %}
{% block style %}
{% load static %}
{% endblock %}

{% block content %}
<div class="main main-raised col-lg-7 col-md-8 mx-auto" style="margin-top:18vh;">
  <div class="section">
    <div class="container">
      
          <h2 class="title text-center">Industry</h2>
          <div class="row">
            <a href="" class="ml-auto mr-2 btn btn-primary btn-just-icon btn-round">
              <i class="material-icons">add</i>
            </a>
          </div>
          <ul class="list-group list-group-flush">
            {% for object in objects %}
            <li class="list-group-item">
              {{object}}
              <span class="ml-auto text-right">      
                <a href="" class="mr-2 btn btn-primary btn-just-icon btn-round">
                    <i class="material-icons">edit</i>
                </a>
                <a href="" class="mr-2 btn btn-primary btn-just-icon btn-round">
                    <i class="material-icons">delete</i>
                </a>
              </span>
            </li>
            {% endfor %}
          </ul>

       
  </div>
</div>

{% endblock %}