{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h1 class="card-title">MIDI</h1>
      <p class="card-text">MIDI is Metal Industory Development Institution, providing technical service for metal companies.</p>
      <a href="{% url 'detail' %}" class="btn btn-primary">Detail</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h1 class="card-title">TIDI</h1>
      <p class="card-text">TIDI is Textile Industory Development Institution, providing technical service for textile companies.</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h1 class="card-title">Company A</h1>
      <p class="card-text">Company A provides service for enterprises to build accounting system.</p>
      <a href="#" class="btn btn-primary">Detail</a>
    </div>
  </div>

{% endblock %}
