{% extends 'base.html' %}
{% block style %}
{% load static %}
<style media="screen">
  #main_form, footer{
    position: relative;
    top: 15vh;
  }
  
  ul{
    list-style-type: none;
    display: ruby-base-container;
  }
</style>
{% endblock %}

{% block content %}
<form action="" method="post" id="main_form">
    {% csrf_token %}
    <table class="form-group row">
    {{ form.as_p }}
    </table>
    <input type="submit" value="Submit" />
</form>
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script>
  $("input, select").addClass("form-control");
  $('#id_RegistrationDate').attr("type", "date");
</script>
{% endblock %}
