{% extends 'base.html' %}
{% block style %}
{% load static %}
<style media="screen">
  #main_form, footer{
    position: relative;
    top: 15vh;
  }

  ul{
    list-style-type: none;
    display: ruby-base-container;
  }
</style>
{% endblock %}

{% block content %}
<form action="" method="post" id="main_form">
    {% csrf_token %}
    <table class="form-group row">
    {{ form.as_p }}
    </table>
    <input type="submit" value="Submit" />
</form>

{% endblock %}

{% block script %}
<script>
  $('#id_RegistrationDate').attr("type", "date");
</script>
{% endblock %}
