{% extends 'base.html' %}
{% block style %}
{% load static %}
<style media="screen">
  .main-raised{
    position: relative;
    top: 25vh;
  }
  footer{
    position:absolute;
    bottom: 0px;
    width: 100vw;
  }
</style>
{% endblock %}

{% block content %}

<div class="main main-raised">
  <div class="section">
    <div class="container">

      <form method="post" id="main_form" novalidate enctype='multipart/form-data'>
        {% csrf_token %}

        {% if form.errors %}
          {% for error in form.errors %}
            <div class="alert alert-danger">
              <div class="container">
                <div class="alert-icon">
                  <i class="material-icons">error_outline</i>
                </div>
                <button type="button" data-dismiss="alert" aria-label="Close" class="close">
                  <span aria-hidden="true">
                    <i class="material-icons">clear</i>
                  </span>
                </button>
                <b>Error Alert:</b>
                {{ error }} 
              </div>
            </div>
          {% endfor %}
        {% endif %}

        <div class="form-group bmd-form-group">
          <label class="bmd-label-floating">{{ form.Name.label }}</label>
              {{ form.Name }}
        </div>

        <!-- button -->
        <div class="text-center mt-4">
          <input type="submit" name="" value="Submit" class="mx-auto btn btn-outline-primary">
        </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}
{% block script %}
<script>
</script>
{% endblock %}
