{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h1 class="card-title">Training</h1>
      <p class="card-text">Find a organization or company which provide trainis.</p>
      <a href="{% url 'organization' %}" class="btn btn-primary">Search</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h1 class="card-title">Accounting</h1>
      <p class="card-text">Find a organization or company which provide accounting service.</p>
      <a href="{% url 'organization' %}" class="btn btn-primary">Search</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
      <h1 class="card-title">Management</h1>
      <p class="card-text">Find a organization or company which provide accounting service.</p>
      <a href="{% url 'organization' %}" class="btn btn-primary">Search</a>
    </div>
  </div>

{% endblock %}
