{% extends 'base.html' %}
{% block style %}
{% load static %}
<style media="screen">
  .main-raised, footer{
    position: relative;
    top: 25vh;
  }

</style>
{% endblock %}

{% block content %}

<div class="main main-raised">
  <div class="section">
    <div class="container">

      <form action="" method="post" id="main_form">
        {% csrf_token %}

        {% if form.errors %}
        <ul>
          {% for error in form.errors %}
          <li>Error in:{{ error }} </li>
          {% endfor %}
        </ul>
        {% endif %}
	<!-- Name -->
        <div class="form-group row">
	        <label class="col-sm-2 col-form-label">{{ form.OrgName.label_tag }}</label>
    	      <div class="col-sm-10">
    	      {{ form.OrgName }}
          	</div>
    	</div>
	<!-- Service Category -->
       <div class="form-group row">
      	<label class="col-sm-2 col-form-label">{{ form.ServiceCategory.label_tag }}</label>
  	      <div class="col-sm-10">
  	      {{ form.ServiceCategory }}
  	      </div>
    	  </div>
	<!-- Service -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form.Service.label_tag }}</label>
        <div class="col-sm-10">
        {{ form.Service }}
        </div>
      </div>

	<!-- Contents -->
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">{{ form.Contents.label_tag }}</label>
        <div class="col-sm-10">
        {{ form.Contents }}
        </div>
      </div>

  <!-- button -->
      <div class="text-center mt-5">
        <input type="submit" name="" value="Submit" class="mb-5 mx-auto btn btn-outline-primary">
      </div>

      </form>

    </div>
  </div>
</div>

{% endblock %}
