.navbar-gr {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.bg-gr-blue {
  background: rgb(98,133,255);
  background: linear-gradient(180deg, rgba(98,133,255,1) 0%, rgba(12,123,255,1) 100%);
}
