{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
  {% include 'base/css.html' %}

  {% block style %}{% endblock %}

  <title>BDSP|Network</title>
</head>

<body class="index-page sidebar-collapse">
  {% include 'base/navbar.html' %}
  {% block header %} {% endblock %}
  <div class="container ">
    {% block content %} {% endblock %}
  </div>

  {% include 'base/js.html' %}
</body>

</html>